@import '../../../theme/globalStyle.scss';

.title {
  margin-bottom: 30px;
  color: $white;
  font-weight: normal;
  text-align: center;
  font-size: $font-L;
}

.order-item {
  padding: 10px 0;
  display: flex;
  border-bottom: 2px solid $disabled;

  &.last {
    border: none;
  }

  & > h3 {
    color: $white;
    font-size: $font-M;
    font-weight: normal;
  }

  & > p {
    color: $white;
    font-size: $font-M;
  }

  .details-link {
    flex-grow: 1;
    color: $orange;
    font-size: $font-M;
    text-align: right;
  }
}
