<ng-container *ngIf="(myOrders$ | async)?.length; else empty">
  <h2 class="title">Poniżej znajdują się twoje wszystkie zamówienia</h2>
  <div
    *ngFor="let order of myOrders$ | async; let i = index; let last = last"
    [class.last]="last"
    class="order-item"
  >
    <h3>{{ i + 1 }}. Zamówienie z dnia: {{ order.date }}</h3>
    <a [routerLink]="['/' + paths.orders, order.id]" class="details-link">Szczegóły</a>
  </div>
</ng-container>

<ng-template #empty>
  <h2 class="title">Brak zamówień na Twoim profilu</h2>
</ng-template>
