@import '../../../theme/theme.scss';

.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;

  .topbar {
    width: 100%;
    height: 32px;
    background-color: $orange;

    .title {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      line-height: 32px;
      color: $primary;
      font-weight: bold;
      text-align: center;
      font-style: italic;
      letter-spacing: 1px;
      font-size: $font-L;
    }
  }

  .contentContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
    margin: 20px auto 50px;
  }
}
