@import '../../../../theme/theme.scss';

button {
  min-width: 150px;
  margin: 0 auto;
  padding: 9px 15px;
  border-radius: 4px;
  font-size: $font-S;
  background-color: $orange;
  color: $primary;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-style: italic;
  cursor: pointer;
  transition: 0.1s;
  font-weight: bold;

  &.secondary {
    background-color: $secondary;
    color: $orange;
    border: none;
  }

  &:hover {
    opacity: 0.8;
  }
}
