@import '../../../theme/theme.scss';

.wrapper {
  display: flex;
  flex-direction: column;
  width: 1200px;
  margin: 0 auto;
  padding: 10px 30px 5px;
  border-top: 2px solid $orange;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;

  &__socialMedia {
    &-item {
      margin: 0 8px;
      color: $orange;
      font-size: $font-XL;
    }
  }

  &__others {
    color: $white;
    font-size: $font-S;

    &-link {
      color: $white;
      text-decoration: none;

      &:hover {
        color: $orange;
      }
    }
  }
}

.bottom-paragraph {
  text-align: center;
  font-size: $font-XS;
  color: $white;
}
