<footer class="wrapper">
  <section class="navigation">
    <nav class="navigation__socialMedia">
      <ng-container *ngFor="let item of socialMediaItems">
        <app-social-media-item [item]="item"></app-social-media-item>
      </ng-container>
    </nav>

    <nav class="navigation__others">
      <ng-container *ngFor="let item of otherLinks; last as last">
        <a [href]="item.link" class="navigation__others-link">{{ item.name }}</a>
        {{ !last ? ' | ' : '' }}
      </ng-container>
    </nav>
  </section>

  <p class="bottom-paragraph">&copy; Ale kino! 2022</p>
</footer>
