<footer class="wrapper">
  <section class="navigation">
    <nav class="navigation__socialMedia">
      <a href="" class="navigation__socialMedia-item">
        <fa-icon [icon]="facebookIcon"></fa-icon>
      </a>
      <a href="" class="navigation__socialMedia-item">
        <fa-icon [icon]="instagramIcon"></fa-icon>
      </a>
      <a href="" class="navigation__socialMedia-item">
        <fa-icon [icon]="youtubeIcon"></fa-icon>
      </a>
    </nav>

    <nav class="navigation__others">
      <a href="" class="navigation__others-link">O nas</a> |
      <a href="" class="navigation__others-link">Praca</a> |
      <a href="" class="navigation__others-link">Regulamin</a> |
      <a href="" class="navigation__others-link">Wynajem sal</a>
    </nav>
  </section>

  <p class="bottom-paragraph">&copy; Ale kino! 2022</p>
</footer>
