<header class="wrapper">
  <a class="title" [routerLink]="paths.home">
    <h1 class="title">Ale kino!</h1>
  </a>

  <div class="buttonsContainer">
    <ng-container *ngIf="user.role === 'guest' || user.role === 'user'">
      <app-nav-button [icon]="icons.shoppingCart">Koszyk</app-nav-button>
    </ng-container>

    <ng-container *ngIf="user.role === 'guest'">
      <app-nav-button [link]="paths.login">Zaloguj</app-nav-button>
    </ng-container>

    <ng-container *ngIf="user.role === 'user' || user.role === 'admin'">
      <app-nav-button [menuItems]="actionMenu[user.role]">
        {{ user.role === 'user' ? 'Witaj, ' + user.info!.firstname : 'Panel administratora' }}
      </app-nav-button>
    </ng-container>
  </div>
</header>
