<div class="movieItem">
  <div class="movieItem__image">
    <img src="{{ movie.imageURL }}" alt="Okładka filmu" />
    <p *ngIf="movie.isPremiere" class="movieItem__image-premiere">Premiera</p>
  </div>

  <div class="movieItem__details">
    <h3 class="movieItem__details-title">{{ movie.title }}</h3>
    <p class="movieItem__details-subtitle">
      <span *ngFor="let genre of movie.genres"> {{ genre }} | </span> {{ movie.duration }} minut |
      <span *ngIf="movie.minAge; else forEveryone">{{ movie.minAge }}+</span>
      <ng-template #forEveryone>Dla wszystkich</ng-template>
    </p>
    <div class="movieItem__details-description">
      <p>
        {{ movie.description.short }}
      </p>
      <p
        class="movieItem__details-description-fullDescription"
        *ngIf="movie.isFullDescriptionActive"
      >
        {{ movie.description.long }}
      </p>
      <button
        class="movieItem__details-description-toggleBtn"
        (click)="toggleFullDescriptionActivity()"
      >
        {{ movie.isFullDescriptionActive ? 'Ukryj' : 'Pokaż więcej' }}
      </button>
    </div>
    <div class="movieItem__details-hours">
      <a
        [routerLink]="['/' + paths.reservation, movie.id, movie.day, hour]"
        class="movieItem__details-hours-btn"
        *ngFor="let hour of movie.hours"
      >
        {{ hour }}
      </a>
    </div>
  </div>

  <div class="movie-stats-container">
    <p *ngIf="movieAvgRating$ | async as rate" class="movie-rate-text">
      Średnia ocena: {{ rate }}/5
    </p>

    <ng-container *ngIf="user$ | async as user">
      <ng-container *ngIf="user.role !== 'guest'">
        <p class="rate-movie-text">Twoja ocena:</p>
        <div class="stars-container">
          <fa-icon
            *ngFor="let option of ratingOptions"
            [icon]="starIcon"
            (click)="addMovieRate(option)"
            [class.active]="(userRateOfMovie$ | async) === option"
          ></fa-icon>
        </div>

        <app-button
          *ngIf="!user.info?.wantToWatchIds?.includes(movie.id); else onList"
          (click)="addMovieToWatchlist()"
        >
          Chcę obejrzeć
        </app-button>

        <ng-template #onList>
          <app-button (click)="removeMovieFromWatchlist()" [secondary]="true">
            Nie chcę obejrzeć
          </app-button>
        </ng-template>
      </ng-container>
    </ng-container>
  </div>
</div>
