<section class="wrapper">
  <div class="movieItem" *ngFor="let movie of moviesToDisplay">
    <div class="movieItem__image">
      <img src="{{ movie.imageURL }}" alt="" />
      <p *ngIf="movie.isPremiere" class="movieItem__image-premiere">Premiera</p>
    </div>
    <div class="movieItem__details">
      <h3 class="movieItem__details-title">{{ movie.title }}</h3>
      <p class="movieItem__details-subtitle">
        <span *ngFor="let genre of movie.genres"> {{ genre }} | </span> {{ movie.duration }} minut |
        <span *ngIf="movie.minAge; else forEveryone">{{ movie.minAge }}+</span>
        <ng-template #forEveryone>Dla wszystkich</ng-template>
      </p>
      <div class="movieItem__details-description">
        <p>
          {{ movie.description }}
        </p>
        <button
          class="movieItem__details-description-toggleBtn"
          (click)="toggleFullDescriptionActivity(movie.id)"
        >
          {{ movie.isFullDescriptionActive ? 'Ukryj' : 'Pokaż więcej' }}
        </button>
        <p
          class="movieItem__details-description-fullDescription"
          *ngIf="movie.isFullDescriptionActive"
        >
          {{ movie.fullDescription }}
        </p>
      </div>
      <div class="movieItem__details-hours">
        <a routerLink="/" class="movieItem__details-hours-btn" *ngFor="let hour of movie.hours">
          {{ hour }}
        </a>
      </div>
    </div>
    <div class="movieItem__rates">
      <p class="movieItem__rates-rate">Ocena filmu:</p>
      <p class="movieItem__rates-rate">{{ movie.rate }}/10</p>
      <button>Oceń ten film!</button>
      <button>Chcę zobaczyć</button>
    </div>
  </div>
</section>
