@import '../../../../theme/theme.scss';

.title {
  color: $white;
  font-weight: normal;
  text-align: center;
  font-size: $font-L;
}

.screen {
  margin-bottom: 20px;
  width: 550px;
  height: 8px;
  background-color: $disabled;
  border-radius: 5px;

  &-subtitle {
    margin-top: 15px;
    text-align: center;
    color: $white;
  }
}

.row {
  display: flex;
  justify-content: center;

  .seat {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px;
    height: 34px;
    width: 34px;
    border-radius: 3px;
    border: 1px solid $primaryLight;
    background-color: $secondary;
    color: $white;
    font-weight: bold;
    font-size: $font-S;
    cursor: pointer;
    transform: 0.1s;

    &.reserved {
      background-color: rgb(158, 144, 11);
    }

    &.occupied {
      background-color: $red;
    }

    &.inOrder {
      background-color: $green;
    }

    &:disabled {
      cursor: default;

      &:hover {
        opacity: 1;
      }
    }

    &:hover {
      opacity: 0.8;
    }
  }
}

.submit-button-container {
  text-align: center;
  margin: 25px auto 0;
}

.select-seats-info {
  margin: 10px 0;
  text-align: center;
  color: $white;
}

.button-container {
  margin: 20px auto;
  text-align: center;
}
