@import '../../../../../theme/globalStyle.scss';

.title {
  color: $white;
  font-weight: normal;
  text-align: center;
  font-size: $font-L;
}

.repertoire-container {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .repertoire-item {
    width: 400px;
    display: flex;
    margin: 10px 0;

    & > div {
      flex-grow: 1;
    }

    p {
      color: $white;
      font-size: $font-M;
    }

    .remove-button {
      width: 50px;
      margin-left: 25px;
      background-color: transparent;
      cursor: pointer;

      &:hover {
        mat-icon {
          color: $red;
        }
      }

      mat-icon {
        color: $white;
        transition: 0.1s;
      }
    }
  }

  .add-showing-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;

    div.section {
      display: flex;
      margin-bottom: 20px;
    }

    .title {
      margin: 30px auto 10px;
      flex-basis: 100%;
      font-size: $font-M;
      color: $orange;
      font-weight: bold;
      text-align: center;
    }

    .added-hours {
      width: 130px;
      line-height: 20px;
      text-align: center;
      color: $white;
      font-size: $font-M;
    }

    mat-label {
      display: block;
      margin: 10px 8px;
      color: $white;
      font-size: $font-M;
    }

    input {
      padding: 8px 15px;
      height: 38px;
    }

    mat-form-field {
      width: 50%;
      height: 58px;
      margin: 8px 10px;
      display: block;
      width: 140px;
    }

    .button-new-hour {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      background-color: transparent;
      color: $orange;
      cursor: pointer;
    }

    .hours {
      width: 100%;
      display: flex;

      .existing-hours {
        width: 100%;
        padding: 4px 0;
        text-align: center;
        color: $white;
        font-size: $font-M;
        p {
          width: 100%;
        }
      }
    }

    mat-select {
      margin: 0 auto;
      height: 36px;
      background-color: $primaryLight;
      border-bottom: 3px solid $disabled;
      line-height: 36px;
      text-align: center;
    }

    .button-confirm {
      margin-top: 50px;
      width: 50%;
      align-self: flex-end;
    }
  }
}

::ng-deep .mat-select-value {
  display: block;
  color: $white !important;
  margin: 10px 15px;
}

::ng-deep .mat-focused .mat-form-field-label {
  /*change color of label*/
  color: $primary !important;
}

::ng-deep.mat-form-field-underline {
  /*change color of underline*/
  background-color: $primary !important;
}

::ng-deep.mat-form-field-ripple {
  /*change color of underline when focused*/
  background-color: $primary !important;
}
