@import '../../../../../theme/theme.scss';

.wrapper {
  position: relative;
  z-index: 1;

  &:hover .menu {
    display: block;
    animation: showNavMenu 0.1s linear both;
  }
}

.button {
  margin: 0 5px;
  padding: 0 15px;
  line-height: 32px;
  width: auto;
  border: none;
  font-size: $font-M;
  color: $white;
  background-color: transparent;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.menu {
  display: none;
  position: absolute;
  left: 50%;
  width: 175px;
  transform: translateX(-50%);
  padding: 2px 0;
  border-top: 5px solid $primary;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  background-color: $primary;
  border-bottom: 2px solid $disabled;
  transition: 0.15s;
  transform-origin: top;

  & > ul {
    list-style: none;
  }

  &__item {
    display: block;
    padding: 10px 0;
    text-decoration: none;
    font-size: $font-S;
    font-weight: bold;
    color: $white;
    text-align: center;
    opacity: 0.7;
    transition: 0.1s;

    &:hover {
      opacity: 1;
    }
  }
}

@keyframes showNavMenu {
  0% {
    opacity: 0.75;
    transform: scaleY(0.75) translateX(-50%);
  }
  100% {
    opacity: 1;
    transform: scaleY(1) translateX(-50%);
  }
}
