@import '../../../../theme/theme.scss';

.title {
  color: $white;
  font-weight: normal;
  text-align: center;
  font-size: $font-XL;
}

.text {
  margin: 30px 0;
  color: $white;
  font-style: italic;
  font-size: $font-L;

  &-email {
    font-weight: bold;
  }
}

.buttons-container {
  text-align: center;
}
