$primary: #000000;
$secondary: #262626;
$orange: #f5821e;
$white: #ddd;
$green: #48bf53;
$red: #d83722;
$violet: #c965c9;
$font-XXS: 1.1rem;
$font-XS: 1.2rem;
$font-S: 1.3rem;
$font-M: 1.5rem;
$font-L: 1.8rem;
$font-XL: 2.2rem;
$font-XXL: 2.7rem;
$font-XXXL: 3.3rem;
