$primary: #0e0e0e;
$primaryLight: #161616;
$secondary: #2c2b2b;
$disabled: #595959;
$orange: #c57836;
$white: #ddd;
$green: #3a9142;
$red: #c23f2e;
$violet: #c965c9;
$font-XXS: 1.1rem;
$font-XS: 1.2rem;
$font-S: 1.3rem;
$font-M: 1.5rem;
$font-L: 1.7rem;
$font-XL: 2.2rem;
$font-XXL: 2.7rem;
$font-XXXL: 3.3rem;
