$primary: #000000;
$secondary: #262626;
$orange: #f5821e;
$white: #ffffff;
$green: #48bf53;
$red: #d83722;
$violet: #c965c9;
$font-XS: 1rem;
$font-S: 1.3rem;
$font-M: 1.6rem;
$font-L: 2rem;
$font-XL: 2.5rem;
$font-XXL: 3.7rem;
$font-XXXL: 4.5rem;
