@import './../../../../theme/theme.scss';

.wrapper {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  padding: 25px 15px 5px;
}

.title {
  flex-grow: 1;
  font-size: $font-XXL;
  color: $orange;
  animation: showTitle 0.3s linear both;
  text-decoration: none;
}

.buttonsContainer {
  display: flex;
  align-items: center;
}
