<div class="app">
  <div class="wrapper">
    <app-header></app-header>
    <main>
      <div class="topbar">
        <ng-container *ngIf="(topbarContent | typeof) === 'string'; else component">
          <h3 class="title">{{ topbarContent }}</h3>
        </ng-container>
        <ng-template #component>
          <ng-container *ngIf="topbarContent">
            <h3 class="title">component</h3>
          </ng-container>
        </ng-template>
      </div>
      <div class="contentContainer">
        <router-outlet></router-outlet>
      </div>
    </main>
    <app-footer></app-footer>
  </div>
</div>
