@import '../../../../theme/theme.scss';

.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
}

.buttonsContainer {
  color: $orange;
  padding: 3px 0;

  &__button {
    opacity: 0.3;
    width: 50px;
    margin: 0 8px;
    padding: 3px 0;
    border: none;
    border-bottom: 2px solid $orange;
    background-color: transparent;
    font-size: $font-M;
    font-weight: bold;
    color: $orange;
    cursor: pointer;
    transition: 0.1s;

    &.active {
      opacity: 1;
      border-bottom: 2px solid;
    }

    &:nth-last-child(1) {
      border-right: none;
    }

    &:hover {
      opacity: 1;
    }

    &[disabled] {
      cursor: default;

      &:hover {
        opacity: 0.3;
      }
    }
  }
}
