@import '../../../../theme/theme.scss';

.wrapper {
  margin: 0 auto;
  width: 100%;
  background-color: $orange;
  text-align: center;
}

.buttonsContainer {
  color: $orange;
  padding: 6px 0 2px;

  &__button {
    opacity: 0.5;
    width: 65px;
    padding: 6px 10px;
    border: none;
    border-bottom: 2px solid $orange;
    background-color: transparent;
    font-size: $font-M;
    font-weight: bold;
    color: $primary;
    cursor: pointer;
    transition: 0.1s;

    &.active {
      opacity: 1;
      border-bottom: 2px solid;
    }

    &:nth-last-child(1) {
      border-right: none;
    }

    &:hover {
      opacity: 1;
    }
  }
}
