<div class="dialog">
  <h3 class="title">Dodaj nowy film do bazy</h3>
  <form action="">
    <div class="form-field">
      <label>Tytuł:</label>
      <input type="text" />
    </div>

    <div class="form-field">
      <label>Opis krótki:</label>
      <textarea class="description-short"></textarea>
    </div>

    <div class="form-field">
      <label>Opis długi:</label>
      <textarea class="description-long"></textarea>
    </div>

    <div class="form-field">
      <label>Link do zdjęcia:</label>
      <input type="text" />
    </div>

    <div class="form-field">
      <label>Czas trwania (min):</label>
      <input type="number" min="1" class="narrow" />
    </div>

    <div class="form-field">
      <label>Minimalny wiek:</label>
      <input type="number" min="1" class="narrow" />
    </div>

    <div class="form-field">
      <label>Gatunek:</label>
      <input type="text" class="narrow" />
      <button type="button">+</button>
    </div>

    <button class="confirm-button">Potwierdź</button>
  </form>
</div>
