@import '../../../theme/theme.scss';

.title {
  color: $white;
  font-weight: normal;
  text-align: center;
  font-size: $font-L;
}

.subpages-container {
  margin: 20px 0;
  text-align: center;

  .subpage {
    margin: 10px 0;
    display: block;
    color: $white;
    font-size: $font-L;
  }
}
