@import '../../../../theme/theme.scss';

.order-container {
  margin: 25px 0;

  .order-item {
    text-align: right;
    display: flex;
    padding: 10px 0;
    border-bottom: 1px solid $orange;

    &.last {
      border: none;
    }
  }

  .order-summary {
    margin: 15px 0;
    text-align: center;

    p {
      font-size: $font-L;
    }
  }

  p {
    text-align: right;
    padding: 0 5px;
    color: $white;
    font-size: $font_M;
  }
}

.title {
  color: $white;
  font-weight: normal;
  text-align: center;
  font-size: $font-L;
}

.form {
  width: 450px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  &__itemContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 5px 0;
    width: 100%;

    &.narrow {
      width: 45%;
    }
  }

  &__errorParagraph {
    margin-left: 10px;
    color: $red;
    font-size: $font-XS;
    font-weight: bold;
  }

  &__messageParagraph {
    color: $red;
    font-size: $font-XS;
    font-weight: bold;
    text-align: center;
  }

  &__label {
    margin-left: 10px;
    color: $white;
    font-size: $font-M;
  }

  &__input {
    margin: 5px 0;
    padding: 8px 15px;
    border: none;
    border-radius: 2px;
    background-color: #161616;
    color: $white;
    font-size: $font-M;

    border-bottom: 3px solid $disabled;
    outline: none;

    &:focus {
      border-bottom: 3px solid $orange;
    }
  }
}

.button-container {
  margin: 25px auto 0;
  text-align: center;
}

.button-discount {
  position: absolute;
  top: 23px;
  left: 100%;
  width: 100px;
  border-bottom: 3px solid $disabled;
  border-radius: 0;
  height: 35px;
  background-color: transparent;
}

.used-discount-text {
  color: $green;
  font-size: $font-S;
}
