@import '../../../../theme/theme.scss';

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 35px;

  p {
    color: $white;
    margin-bottom: 20px;
  }
}
