<div class="wrapper">
  <h3 class="title">Modyfikuj repertuar dla wybranego filmu:</h3>

  <mat-list role="list">
    <a
      *ngFor="let movie of moviesCollection$ | async"
      [routerLink]="['/admin/' + paths.repertoire, movie.id]"
    >
      {{ movie.title }}</a
    >
  </mat-list>

  <button (click)="this.toggleFormActivity()">
    {{ isFormActive ? 'Ukryj formularz' : 'Dodaj film' }}
  </button>

  <ng-template #formActive>
    <button>Ukryj formularz</button>
  </ng-template>
</div>

<app-add-movie-form *ngIf="isFormActive"></app-add-movie-form>
